a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    
  }

  a.social:hover {
    transform: translateY(-3px);
  }

  .video-responsive {
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .aboutscroll
{
    text-align: center;
}

.aboutimg
{
    object-fit: cover;
    padding-left: 10%;
    width: 90%;
    max-height: 500px;
}
