a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  a.social:hover {
    transform: translateY(-3px);
  }

  .video-responsive {
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .aboutscroll
{
    text-align: center;
    width: 100%;
}

.aboutimg
{
    object-fit: cover;
    
    width: 90%;
    max-height: 500px;
}

.Heading{
  font-size: 2rem;
  color: white;
  text-align: center;
  width: 80% !important;
  margin: 20px auto;
}

.Description{
  color: white;
  width: 90%;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
}

.d-block{
  margin: 0 auto !important;
  align-items: center;
  justify-self: center;
  
  width: 80% !important;
  /* background-color: red; */
}

  .aboutscroll1
{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.aboutscroll1  .d-block
{
  border-radius: 30px !important;
}

@media screen and (max-width: 1000px){
  .aboutscroll,.aboutscroll1{
    width: 90% !important;
  }
}

@media screen and (max-width: 600px){
  .aboutscroll,.aboutscroll1{
    width: 100% !important;
  }
}