@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto+Slab:wght@700&display=swap");

/* @font-face {
  font-family: myFirstFont;
  src: url(../../Hanged\ Letters.ttf);
} */

.team-heading {
  font-size: 3em;
  color: white;
  text-align: center;
  font-family: "Concert One", cursive;
  font-family: "Roboto Slab", serif;
  /* font-family: myFirstFont; */
  letter-spacing: 10px;
}

.team {
  width: 100%;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.sub-team-heading {
  color: #fff;
  font-size: 20px;
  width: 50%;
  margin-left: 8%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(155, 155, 155);
  border-radius: 12px;
}

@media screen and (max-width: 550px) {
  .team-heading {
    margin-top: 30px;
   font-size: 3em;
    letter-spacing: 1px;
  }

  .sub-team-heading {
    width: 90%;
    font-size: 15px;
    margin-top: 20px;
  }
}