.demo{  background: #000;
    font-family: "Roboto Slab", serif;min-width: 100vw;min-height: 100vh;   
    background-image: linear-gradient(to bottom right,rgb(75, 3, 57),rgb(60, 8, 83));
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 2px solid rgba(255, 255, 255, 0.175);


}
.mainContentGL{
    position: relative;
    min-width: 100%;
    top: 250px;
     min-height: 150vh; 
    /* max-height: 400vh; */ 
    padding-bottom: 100px;
}
.carouselGL{
    margin:auto;
    width: 94%;
}
.guestLecture{
    padding: 15px 50px;
    margin: auto;
    border-radius: 0 70px 0 70px;
    border: 5px solid white;
    border-left: none;
    border-right: none;
    text-align: center;
    width: 85%;
    /* backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(182, 186, 194, 0.25); */
}
.col-md-8{
    width: 100%;
    /* overflow: hidden; */
}
.guestLecture .picture{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.guestLecture .picture img{
    width: 100%;
    height: auto;
}
.guestLecture .title{
    display: block;
    margin: 0 0 7px 0;
    font-size: 20px;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.guestLecture .post{
    display: block;
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.guestLecture .description{
    font-size: 16px;
    color: #fff;
    line-height: 30px;
}

.headingGL{
    position: absolute;
    font-size: 350%;
    padding: 20;
    min-width:100% ;
    max-width: 100%;
    text-align: center;
    color: #fff;
    text-align: center;
    /* text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
      0 0 80px #03bcf4, 0 0 160px #03bcf4; */
    z-index: 3;
    top:  5%;
}