.bodycard {
    text-align: center;
    font-family: Arial;
  }
  
  .a-box {
    display: inline-block;
    width: 240px;
    text-align: center;
    background-color: transparent;
  }
  
  .img-container {
      height: 230px;
      width: 200px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
      z-index:  99;
  }
  
  .img-container .img {
      height: 250px;
  }
  
  .inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #c8c2c2;
      height: 250px;
      width: 200px;
  }
  
  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: white;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
  }
  
  .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: black;
    font-size: 18px;
  }