.cardOuter{
		margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column ;
    align-items: center;
    box-shadow: 0px 4px 80px #4890ff2f !important;
    border-radius: 30px !important;
    width: 90%;
    align-content: center;
    background-color: rgba(204, 204, 204, 0.225) !important;
    position: relative;
    z-index: 2;

    justify-content: center;
}

.card{
    width: 100% !important;
    height: 100% !important;
    position: relative;
		z-index: 1;
    overflow: visible !important;
}

.cardImage{
  transform:translateY(-50%);
  z-index: 0 !important;
  width: 160px;
  height: 160px;
  overflow: hidden;
  background-color: none !important;
  border-radius: 30px;
}

.cardOuter:hover {
  color: #4890ff;
}

.cardBody{
  display: grid !important;
  align-items: center;
  justify-content: center;
  transform:translateY(-50%);
  
  /* background-color: red !important; */
}

.cateName{
  font-family: Poppins !important;
  font-weight: 500;
  font-size:35px;
}

.Extra{
  text-decoration: none;
  color: white !important;
  text-transform:capitalize !important;
  border: none;
  background-color: transparent;
}
