body {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.cateogryWrapper {
  width: 33%;
  margin-top: 30px;
}

.categoriesOuter {
  /* background-color: red; */
  display: flex;
  margin: 0 auto;
  width: 90%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
  .cateogryWrapper {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .cateogryWrapper {
    width: 400px;
  }
}
