// @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
// @import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto+Slab:wght@700&display=swap");

// @font-face {
//   font-family: myFirstFont;
//   src: url('../Hanged/Letters.ttf');
// }

.heading {
  font-size: 5rem;
  color: white;
  padding-left:9%;
//   font-family: myFirstFont;
  letter-spacing: 10px;
}

.sub-heading {
    color: #fff;
    font-size: 20px;
    width: 50%;
    margin-left: 9%;
    margin-bottom: 50px;
  }

// .heading{
//   color:#ffffff;
//   font-size: 3rem;
//   text-align: center;
//   margin-bottom: 50px;
//   text-shadow: 0 0 2px #03bcf4, 0 0 5px #03bcf4, 0 0 10px #03bcf4;
// }

.cards{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom:20px;
}

.cardBox{
  min-height:400px;
}

.testimonial:before{
  content: "";
  height:70%;
  // border-bottom: 25px solid #03bcf4;
  // border-left: 25px solid #03bcf4;
  border-right: 2px solid #fff;
  position: absolute;
  // bottom: 350px;
  left: -3px;
  top:100px;
  overflow: hidden;
  //box-shadow: 0 0 10px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4;
  //box-shadow: 0px 0px 5px 2px #03bcf4;
}

.testimonial{
    min-height: 400px;
    padding: 20px 20px 20px 90px;
    margin: 10px 20px 50px 55px;
    // border: 1px solid white;
    // box-shadow: 0px 0px 5px 2px #03bcf4;
    position: relative;
}

.testimonial:after{
    content: "";
    height:70%;
    border-left: 2px solid #fff;
    // border-left: 15px solid #03bcf4;
    // border-right: 15px solid #03bcf4;
    position: absolute;
    bottom: -70px;
    left: 10px;
    // box-shadow: 0px 0px 5px 2px #03bcf4;
    // box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

.testimonial .pic{
    width: 100px;
    height: 100px;
    // border-radius: 50%;
    border: 1px solid #fff;
    // box-shadow: 0px 0px 5px 2px #03bcf4;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -50px;
}

.testimonial .pic img{
    width: 100%;
    height: auto;
}

.testimonial .title{
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    // text-shadow: 0 0 2px #03bcf4, 0 0 5px #03bcf4, 0 0 10px #03bcf4;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}

.testimonial .post{
    display: block;
    font-size: 15px;
    color: #ffffff;
    // text-shadow: 0 0 2px #03bcf4, 0 0 5px #03bcf4, 0 0 10px #03bcf4;
    text-transform: capitalize;
}

.testimonial .description{
    font-size: 15px;
    color: #ffffff;
    line-height: 28px;
}

@media only screen and (max-width: 665px){
    .heading {
        font-size: 4rem;
        color: white;
        padding-left:6%;
        font-family: myFirstFont;
        letter-spacing: 10px;
      }
}

@media only screen and (max-width: 479px){
    .testimonial{
        padding: 20px 0 20px 60px;
        margin: 10px 20px 50px 50px;
    }

    .testimonial .title{ font-size: 20px; }
    .heading {
        font-size: 2rem;
        color: white;
        padding-left:6%;
        font-family: myFirstFont;
        letter-spacing: 10px;
      }
}
