
.header-main img{
  position: absolute;
}
.gear1{
  /* border: 1px solid white; */
  bottom: 55%;
  right: 30%;
  height: 35vh;
}
.gear2{
  /* border: 1px solid red; */
  bottom: 5%;
  left: 40%;
  height: 50vh;
}
.gear3{
  /* border: 1px solid greenyellow;s */
  height: 30vh;
  bottom: 50%;
  left: 30%;
}

@keyframes myAnimation {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.gear1, .gear2, .gear3{
  animation: myAnimation 5s linear infinite;
}
.head-main{
    z-index: 2;
  color: transparent;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14vh;
  text-align: center;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: white;
  margin-top: 12vh;
  }
  .time{
    justify-content: center;
    z-index: 2;
    text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 3vh;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;

  }
  .desc{
    margin-left: 11vw;
    z-index: 2;
  width: 30vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 2vh;
  display: flex;
  align-items: center;
  text-align: center;
  color: #C8C8C9;
  }
  .buttons{
    justify-content: center;
    z-index: 2;
    display: flex;
    margin-top: 4vh;
  }
  .regs{
    z-index: 2;
    background-color: #8A39E1;
    font-size: 3.2vh;
    color: #FFFFFF;
    height: 8.5vh;
    padding-top: 1.5vh;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 1rem;
    box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 1vw;
  }
  .learn{
    z-index: 2;
    height: 8.5vh;
    padding-top: 1.2vh;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 1rem;
    font-size: 3.2vh;
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
  color: #ffffff;
  }

  @media screen and (max-width: 1000px) and (orientation: portrait)
  {
    .header-main
    {
      position:absolute;
      display:flex;
      flex-direction: column;
      top:25%;
      align-items: center;

    }

    .head-main
    {
      /* border:2px solid white; */
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 45px;
      line-height: 81px;
      text-align: center;
    }

    .time
    {
        /* border:2px solid white; */
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        align-items: center;
        text-align: center
    }
    .desc
    {
      /* border:2px solid white; */
      margin-left: 0px;
      margin-top:5px;
    }

    .buttons
    {
      display:flex;
      flex-direction: column;
    }

    .regs
    {
      text-align: center;
      margin:5px;
      width: 225px;
      height: 62px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
    }

    .learn
    {
      text-align: center;
      margin:5px;
      width: 225px;
      height: 62px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
    }

    .gear1{
      /* border: 1px solid white; */
      bottom: 60%;
      right: 45%;
      height: 35vh;
    }
    .gear2{
      /* border: 1px solid red; */
      bottom: 1%;
      left: 10%;
      height: 50vh;
    }
    .gear3{
      /* border: 1px solid greenyellow;s */
      height: 30vh;
      bottom: 70%;
      left: 30%;
    }
  }