.team-details {
    width: 100vw;
    top: 100px;
    /* height: 90vh; */
    /* height: 100vh; */
    /* position: relative; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* background: #203354; */
    /* margin-top: 20px; */
    border-radius: 25px;
  }

  .team-links {
    /* position: sticky !important; */

    margin: 20px auto;
    position: relative;
    /* width: 90vw !important  ; */
    /* height: 10vh; */
    /* top: 10px; */
    /* margin */
    width: 95%;
    /* display: grid;
     */
    display: flex; 
    flex-wrap: wrap;
    /* z-index: 100; */
    align-items: center;
    justify-content: center;
    /* background-color: black; */
  }

  .teams {
    text-align: center !important;
    color: white;
    background: none;
    outline: none;
    border: none;
    /* display: flex; */
    /* flex-direction: column; */
    width: 290px;
    /* height: 8%; */
    font-size: 1.5rem;
    font-weight: 700;
    margin: 3px auto;
    padding: 1%;
    cursor: pointer;
  }

  .team-card-container {
    /* border: 2px solid white; */
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: scroll;
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* margin: 10px 10px 10px 0; */
    /* border-radius: 15px; */
    /* background-color: #0e101b; */

    width: 90%;
    margin: 0 auto;
  }

  .team-card {
    flex: 0 0 calc(50% - 20px) !important;
    height: 390px !important;
    /* display: grid; */
    border-radius: 6px;
    transition: 0.1s;
    margin: 30px auto;
  }

  .tokenImage {
    max-height: 70%;
  }

  .team-card {
    text-align: center;
    font-family: sans-serif;
  }

  .person-name {
    font-size: 20px;
    font-weight: 400;
    font-family: Poppins;
  }

  .person-post {
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
  }
  
  @media screen and (max-width: 720px) {
    .team-details {
      display: flex !important;
      flex-direction: column !important;
      /* height: auto; */
    }

    .teams {
      flex: 0 0 calc(50%);
    }

    .team-card-container {
      margin: 2% auto;
      width: 90%;
    }

    .team-card {
      margin: 0px;
    }

    .teams {
      border-radius: 10px;
      width: 100%;
    }
  }