* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fefefe;
  font-family: sans-serif;
}

  .sponsor-wrapper {
    width: 90%;
    margin: 50px auto;
    
  }
  
  
  .sponsor-headline {
    text-align: center;
    font-size: 60px;
    margin-bottom: 55px;

  }
  
  .sponsi-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    
  }
  
  .sponsi-card-top{
    width: 20%;
    height: 300px;
    justify-content: center;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    margin-right:5px;
    transition: 0.3s;
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.25);
  }
  .sponsi-card-image {
    display: flex;
    overflow: hidden;
    margin-top: 25px;
    justify-content: center;
    /* align-items: center; */
    height: 50%;
    width: 100%;
  }
  
  .sponsi-card-image img {
    width: 80%;
    justify-content: center;
    object-fit: contain;
  }
  .sponsi-card-text {
    padding-top: 30px;
    /* padding-bottom: -20px; */
    text-align: center;
    font-weight: 2000;
    font-size: 22px;
    text-decoration: none;
    color: black;
  }
  
  .sponsi-card-top .sponsi-card-text {
    height: auto;
    width: auto;
  }
  .sponsi-card-top:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
  @media screen and (max-width: 1000px) {
    .sponsi-card-top {
      width: 40%;
    }
  }
  @media screen and (max-width: 620px) {
    .sponsor-wrapper {
      width: 100%;
    }
  
    .sponsor-headline {
      padding: 20px;
      font-size: 40px;
    }
  
    .sponsi-card-top {
      width: 80%;
    }
  }
  