.navOuter {
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  justify-items: center;
  width: 95%;
  height: 10vh;
  margin-top: 2vh;
  z-index: 200;
}

.navCont {
  opacity: 0;
  animation: navAnimation 0.5s ease-in 1s 1 forwards;
  z-index: 97;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
}

.logo {
  position: relative;
  /* left: -80px; */
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  /* background-color: red; */
}

@keyframes navAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.logo2 {
  position: absolute;
  width: 100%;
  height: 100%;

  opacity: 0;
  display: flex;
  align-items: center;
  animation: logoFlash 1s 0.5s ease-in 1 forwards;
}

.logo2 img {
  height: 70%;
  margin: 0 auto;
}

.nav {
  /* background-color: red; */
  align-items: center;
  justify-content: center;

  display: flex;
}

@keyframes logoFlash {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.logo img {
  height: 5rem;
}

.nav-comp {
  text-align: center;
  color: #ffff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 3.5vh;
  margin: 0vh 0vh;
  padding: 0vh 2vh;
  text-decoration: none;
}

.profile {
  margin: 2vh 0.5vh;
  padding: 1vh 2vh;
  text-decoration: none;
}

#check {
  display: none;
}

.closetext {
  display: none;
}

 .nav-comp:hover ,.fa:hover{
    color: #4890ff !important;
    font-weight: bold;
  }

@media screen and (max-width: 720px) and (orientation: portrait) {
  .logo2 img {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }

  .logo{
    position: relative;
    left: 0 !important;
  }

  .navOuter {
    justify-content: space-between !important;
  }

  .sidebar {
    position: absolute !important;
    /* background-color: red !important; */
    display: flex !important;
    height: 100vh !important;
    overflow: hidden !important;
    
    flex-direction: row !important;
  }

  .logo img {
    height: 5rem;
  }

  .menubutton {
    position: relative;

    right: 10px;
    top: 0px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 99;
  }

  .menubuttonBurger {
    width: 38px;
    height: 0px;
    border: 2px solid white;
    border-radius: 2px;
    margin: 0px;
    z-index: 99;
  }

  .menubuttonBurger::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 0px;
    border: 2px solid white;
    border-radius: 2px;
    right: 0px;
    z-index: 99;
  }

  .menubuttonBurger::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 0px;
    border: 2px solid white;
    border-radius: 2px;
    right: 0px;
    z-index: 99;
  }

  .menubuttonBurger::before {
    transform: translateY(-10px);
  }

  .menubuttonBurger::after {
    transform: translateY(6px);
  }

  .closetext {
    display: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 42px; */
    color: white;
    /* border:2px solid red; */
    width: 170px;
    z-index: 99;
    text-align: right;
  }

  .sidebar {
    text-align: right;
    position: relative;
    width: 243px;
    height: 100vh;
    right: -40px;
    
    /* display: flex; */
    overflow-y: scroll;
    top: 0px;
    /* border: 2px solid rgb(163, 162, 162); */
    border-radius: 20px;
    box-shadow: 0 0 5px 0;
    
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    right: -415px;
    transition: all 0.5s;
    z-index: 98;
    background-color: rgba(58, 58, 58, 0.9);
  }

  .nav-comp {
    position: relative;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    /* font-size: 18px; */
    
    line-height: 36px;
    width: 100%;
    text-align: center;
    margin-right: 2.5rem !important; 
    text-align: end;
    right: 20px;
  }
}

@media screen and (max-width: 1400px) {
  .nav{
    margin-top: 30px !important;
    /* background-color: red; */
  }

  .nav-comp {
    /* border: 1px solid greenyellow; */
    font-size: 1.7vw;
    margin: 0rem 0rem 1rem 1rem;
  }
}
