.navCont {
  opacity: 0;
  animation: navAnimation 0.5s ease-in 3s 1 forwards;
  z-index: 97;
  /* height: 21vh; */
}

@keyframes navAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.logo {
  top: 2rem;
  left: 2rem;
  position: absolute;
  opacity: 0;
  animation: logoFlash 1s 0.5s ease-in 1 forwards;
}

.logo2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: flex;
  align-items: center;
  animation: logoFlash 1s 0.5s ease-in 1 forwards;
}

.logo2 img {
  width: 80%;
}

@keyframes logoFlash {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.logo img {
  height: 5rem;
}

.nav {
  z-index: 99;
  display: flex;
}

.nav-comp {
  text-align: center;
  color: #ffff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 3.5vh;
  margin: 4vh 0.5vh;
  padding: 2vh 3vh;
  text-decoration: none;
  z-index: 99;
}

.profile {
  margin: 2vh 0.5vh;
  padding: 1vh 2vh;
  text-decoration: none;
  z-index: 99;
}

#check {
  display: none;
}

.closetext {
  display: none;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
  .navCont {
   position: fixed;
   right: 10px;
  height: 21vh;
}

  .logo {
    top: 2.5rem;
    left: 1rem;
    position: absolute;
  }

  .logo img {
    height: 3rem;
  }

  .menubutton {
    position: relative;
    /* width: 39px; */
    height: 24px;
    right: 10px;  
    top: 50px;
    /* border:2px solid white; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 99;
  }

  .menubuttonBurger {
    width: 38px;
    height: 0px;
    border: 2px solid white;
    border-radius: 2px;
    margin: 0px;
    z-index: 99;
  }

  .menubuttonBurger::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 0px;
    border: 2px solid white;
    border-radius: 2px;
    right: 0px;
    z-index: 99;
  }

  .menubuttonBurger::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 0px;
    border: 2px solid white;
    border-radius: 2px;
    right: 0px;
    z-index: 99;
  }

  .menubuttonBurger::before {
    transform: translateY(-10px);
  }

  .menubuttonBurger::after {
    transform: translateY(6px);
  }

  .closetext {
    display: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: white;
    /* border:2px solid red; */
    width: 170px;
    z-index: 99;
    text-align: right;
  }

  .sidebar {
    text-align: right;
    position: relative;
    width: 243px;
    height: 100vh;
    right: -30px;
    top: 0px;
    border: 2px solid rgb(163, 162, 162);
    border-radius: 20px;
    box-shadow: 0 0 5px 0;
    background: rgba(32, 32, 32, 0.9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    right: -415px;
    transition: all 0.5s;
    z-index: 98;
    /* background-color: rgba(58, 58, 58, 0.9); */
  }

  .nav {
    /* border: 2px solid black; */
    z-index: 99;
    display: flex;
    flex-direction: column;
    position: relative;
    right:-60px;
    top: 70px;
    overflow-y: scroll;
    align-items: flex-end;
    overflow: hidden;
    /* margin-top: 20px; */
  }

  .nav-comp {
    position: relative;
    width: fit-content;
    height: 36px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* font-size: 18px; */
    line-height: 36px;
    /* border:2px solid red; */
    margin: 10px;
    margin-right: 3.5rem;
    text-align: end;
    right: 20px;
  }

  .nav-comp:hover {
    color: #c559eb;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .logo {
    top: 1rem;
  }

  .logo img {
    height: 3rem;
  }
}
