.circle-menu {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 50px auto;
}

.circle-menu ul {
  position: absolute;
  width: 400px;
  height: 400px;
  margin: 50px;
  padding: 0;
  list-style: none;
  border-radius: 50%;
  overflow: hidden;
}

.circle-menu .center {
  position: absolute;
  top: 195px;
  left: 195px;
  z-index: 1000;
  border: 5px solid #34495e;
  border-radius: 50%;
  box-shadow: 0 0 3px #cccccc;
}

.circle-menu ul {
  animation: rotation 60s linear infinite;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.circle-menu ul:hover {
  animation-play-state: paused;
}

.circle-menu li {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 210px;
  height: 210px;
  transform-origin: 100% 100%;
  overflow: hidden;
  font-size: 17px;
  transition: 0.2s linear;
}

.circle-menu li:nth-child(1) {
  transform: rotate(-5deg) skew(30deg);
  margin-top: -20px;
  margin-left: -20px;
  //border: 3px solid red;
}

.circle-menu li:nth-child(2) {
  transform: rotate(60deg) skew(30deg);
  margin-top: -20px;
}

.circle-menu li:nth-child(3) {
  transform: rotate(120deg) skew(30deg);
  margin-top: -20px;
  margin-left: 20px;
}

.circle-menu li:nth-child(4) {
  transform: rotate(175deg) skew(30deg);
  margin-top: 20px;
  margin-left: 20px;
}
.circle-menu li:nth-child(5) {
  transform: rotate(240deg) skew(30deg);
  margin-top: 20px;
  margin-left: 5px;
}
.circle-menu li:nth-child(6) {
  transform: rotate(300deg) skew(30deg);
  margin-top: 20px;
  margin-left: -20px;
}

.circle-menu li a {
  display: block;
  //yaha se shape change
  width: 160px;
  height: 160px;
  margin-top: 40px;
  margin-left: 40px;
  padding-top: 100px;
  text-align: center;
  color: #fff;
  z-index: 1000;
  background: #1f51ff no-repeat 50% 40%;
  transition: background-color 0.5s;
  transform: skew(-30deg) rotate(-60deg);
  text-decoration: none;
}
.circle-menu li:hover {
  text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
    0 0 80px #03bcf4, 0 0 160px #03bcf4;
  font-size: 20px;
}

.circle-menu li:nth-child(even) a {
  background-color: #9d00ff;
}

/* Иконки */
