.team-details {
    width: 96%;
    height: 90vh;
    position: relative;
    display: flex;
    background: #203354;
    margin: 2%;
    border-radius: 25px;
   
  }
  .team-links {
    height: 100%;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
  }
  .teams {
    color: white;
    background: none;
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 8%;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: left;
    border-radius: 10px 0 0 10px;
    margin: 3px 0;
    padding: 1%;
    padding-left: 15px;
    cursor: pointer;
    justify-content: center;
  }
  .team-card-container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 0;
    border-radius: 15px;
    background-color: #0e101b;
    width: 100%;
  }
  .team-card {
    width: 250px;
    height: 380px;
    background-color: #fff;
    border-radius: 6px;
    transition: 0.1s;
    margin: 30px;
  }
  .team-card img {
    width: 100%;
    height: 75%;
  }
  .team-card {
    text-align: center;
    font-family: sans-serif;
  }
  .person-name {
    font-size: 20px;
    font-weight: 700;
  }
  .person-post {
    font-weight: 500;
  }
  
  @media screen and (max-width: 500px) {
    .team-details {
      display: flex;
      flex-direction: column;
      height: auto;
    }
    .teams {
      padding: 3%;
    }
    .team-links {
      margin-top: 5px;
      margin-right: 10px;
    }
    .team-card-container {
      margin: 2%;
      width: 96%;
    }
    .team-card {
      margin: 0px;
    }
    .teams {
      border-radius: 10px;
      width: 100%;
    }
  }