@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.regEvents-heading{
    width:100%;
    margin-top:100px;
    margin-bottom: 30px;
    justify-content: center;
    text-align:center;
    color:white;
}

.event{
    min-height: 300px;
    margin-top: 20px;   
      
    padding-top: 20px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(182, 186, 194, 0.25);
    border-radius: 12px;
    
    color:white;
    text-align: center;
}

.Date{
    color: #4890ff;
}

.regEventImage img{
    height: 150px;
    width:150px;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow:hidden;
}
