.container {
    background-color: transparent;
    height: 79vh;
    width: 100vw;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    z-index: 0;
}
.top{
    color: #fff;
    font-family: Poppins;
    font-size: 4vh;
    font-weight: 500;
    /*margin: 8vh;*/
    text-align: center;
    
}

.team {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
