.container {
    /* background-color: red; */
    height: 79vh;
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    z-index: 0;
}

.container::-webkit-scrollbar{
    display: none;
}

.top{
    color: #fff;
    font-family: Poppins;
    font-size: 4vh;
    font-weight: 500;
    /*margin: 8vh;*/
    text-align: center;
}

.team2 {
    margin: 50px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
