
.main {
  /* background-color: #180a30; */
   /* background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent); */
  background-color: black;
  z-index: 100;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.routes::-webkit-scrollbar {
  display: none;
}

.routes{
  z-index: 105;
  /* width: 100%; */
  scroll-behavior: smooth;
  /* background-color: red; */
  backface-visibility: hidden;
}

.ModalInput{
  /* border: none !important; */
  border: 1px solid grey;
  border-radius: 10px;
  font-family: Poppins;
  font-weight: 400;
  width: 80% !important;
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .routes {
    margin-top: 10px !important;
    z-index: 100;
  }
}

.active{
  color: #4890ff !important;
  font-weight: 1000 !important;
}
