*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
  background-color: #180A30;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow:hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.routes {
  /* background-color: #180A30; */
  overflow: hidden;
  margin: 0;
  overflow-y: scroll;
  height: 150vh;
  width: 100%;
  position: relative;
}
