.bg{
  left: 50%
}

  .top-circle{
    background-color: #651d80;
    position: absolute;
    border-radius: 50%;
    height: 100vh;
    width: 100vh;
    filter: blur(250px);
    top: -50vh;
    right: -50vh;
    opacity: 0;
    animation: circleFlash 1s 1.5s ease-out 1 forwards, circle1 30s 3s linear infinite;
  }

  @keyframes circle1 {
    0%{
      top: -50vh;
      right: -50vh;
    }

    25%{
      top: -50vh;
      right: 150vh;
    }

    50%{
      top: 50vh;
      right: 150vh;
    }

    75%{
      top: 50vh;
      right: -50vh;
    }

    100%{
      top: -50vh;
      right: -50vh;
    }
  }

  .bottom-circle{
    background-color: #361a83;
    position: absolute;
    border-radius: 50%;
    height: 100vh;
    width: 100vh;
    filter: blur(250px);
    top: 50vh;
    right: 150vh;
    opacity: 0;
    animation: circleFlash 1s 1.5s ease-out 1 forwards, circle2 30s 3s linear infinite;
  }

  @keyframes circle2 {
    0%{
      top: 50vh;
      right: 150vh;
    }

    25%{
      top: 50vh;
      right: -50vh;
    }

    50%{
      top: -50vh;
      right: -50vh;
    }

    75%{
      top: -50vh;
      right: 150vh;
    }

    100%{
      top: 50vh;
      right: 150vh;
    }
  }

  @keyframes circleFlash {
    0%{
      opacity: 0;
    }

    100%{
      opacity: 1;
    }
  }

  @media screen and (max-width: 1000px) and (orientation: portrait) {
    .top-circle{
      height: 70vh;
      width: 70vh;
      top: -40vh;
      right: -40vh;
    }

    .bottom-circle{
      height: 70vh;
      width: 70vh;
      top: 60vh;
      right: 35vh;
    }

    @keyframes circle1 {
      0%{
        top: -40vh;
        right: -40vh;
      }

      25%{
        top: -40vh;
        right: 35vh;
      }

      50%{
        top: 60vh;
        right: 35vh;
      }

      75%{
        top: 60vh;
        right: -40vh;
      }

      100%{
        top: -40vh;
        right: -40vh;
      }
    }

    @keyframes circle2 {
      0%{
        top: 60vh;
        right: 35vh;
      }

      25%{
        top: 60vh;
        right: -40vh;
      }

      50%{
        top: -40vh;
        right: -40vh;
      }

      75%{
        top: -40vh;
        right: 35vh;
      }

      100%{
        top: 60vh;
        right: 35vh;
      }
    }
  }

  @media screen and (max-width: 500px) and (orientation: portrait) {
    .top-circle{
      height: 70vh;
      width: 70vh;
      top: -40vh;
      right: -40vh;
    }

    .bottom-circle{
      height: 70vh;
      width: 70vh;
      top: 60vh;
      right: 20vh;
    }

    @keyframes circle1 {
      0%{
        top: -40vh;
        right: -40vh;
      }

      25%{
        top: -40vh;
        right: 20vh;
      }

      50%{
        top: 60vh;
        right: 20vh;
      }

      75%{
        top: 60vh;
        right: -40vh;
      }

      100%{
        top: -40vh;
        right: -40vh;
      }
    }

    @keyframes circle2 {
      0%{
        top: 60vh;
        right: 20vh;
      }

      25%{
        top: 60vh;
        right: -40vh;
      }

      50%{
        top: -40vh;
        right: -40vh;
      }

      75%{
        top: -40vh;
        right: 20vh;
      }

      100%{
        top: 60vh;
        right: 20vh;
      }
    }
  }
